{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoctorLai</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header>
      <nav
        class="rounded-lg bg-[#A08CF2] text-white flex justify-between items-center px-[5vw] py-[2vw] mx-[5vw] my-[2vw]"
      >
        <div class="brand">
          <span class="font-bold text-3xl text-white"> Doctorlai </span>
        </div>
        <div class="flex gap-10 justify-self-end text-xl">
          <a href="#" class="px-2.5 py-[5px]">Home</a>
          <a href="#" class="px-2.5 py-[5px]">Doctors</a>
          <a href="#" class="px-2.5 py-[5px]">Appointment</a>
          <a href="#" class="px-2.5 py-[5px]">Therapy</a>
        </div>
      </nav>
    </header>
    <main>
      <section
        class="flex justify-between items-center px-[5vw] py-[2vw] mx-[5vw] my-[2vw]"
      >
        <div class="flex flex-col gap-5">
          <h1 class="text-5xl font-bold">
            <span class="text-[#A08CF2]">Health</span> Now Near your hand
          </h1>
          <p class="text-xl">
            We are dedicated to excellence in patient care, patient safety and
            the quality of the reliably healthcare experience, Our clinic
            provides high quality service.
          </p>
          <div class="flex gap-5">
            <button
              class="rounded-lg px-5 py-2.5 bg-[#A08CF2] text-white text-xl"
            >
              Learn more
            </button>
            <button
              class="border px-2.5 py-[5px] rounded-[5px] border-solid border-[#A08CF2] text-black text-xl"
            >
              Get Appointment
            </button>
          </div>
        </div>
        <div class="flex flex-col gap-5">
          <img src="{% static 'doctor.png' %}" alt="doctor" class="w-[80vw]" />
        </div>
      </section>
      <section
        class="flex justify-center bg-[#F1E7FC] py-[5vw] px-[10vw] rounded-2xl"
      >
        <div class="flex gap-10">
          <div class="bg-white rounded-lg shadow-md p-5">
            <img
              src="{% static 'shop.jpg' %}"
              alt="Card 1"
              class="w-full rounded-lg"
            />
            <h2 class="text-lg font-bold mt-2">Our Covid-19 Response Slogan</h2>
            <p class="text-sm mt-2">
              We use a a team approach to providing health care, and involve the
              patient as part of our team, nucilivement by our staff in the
              community enhances our ability
            </p>
            <button
              class="border rounded-[5px] border-solid border-black text-black px-4 py-2 mt-2 rounded w-full"
            >
              READ MORE
            </button>
          </div>
          <div class="bg-white rounded-lg shadow-md p-5">
            <img
              src="{% static 'shop.jpg' %}"
              alt="Card 2"
              class="w-full rounded-lg"
            />
            <h2 class="text-lg font-bold mt-2">
              Visitors & Patients Informations
            </h2>
            <p class="text-sm mt-2">
              We use a team approach to providing health care, and involve the
              patient as part of our team nvolvement by our staff in the
              community enhances our ability
            </p>
            <button
              class="border rounded-[5px] border-solid border-black text-black px-4 py-2 mt-2 rounded w-full"
            >
              READ MORE
            </button>
          </div>
          <div class="bg-white rounded-lg shadow-md p-5">
            <img
              src="{% static 'shop.jpg' %}"
              alt="Card 3"
              class="w-full rounded-lg"
            />
            <h2 class="text-lg font-bold mt-2">Research & Digital Theorem</h2>
            <p class="text-sm mt-2">
              We use a team approach to providing health care, and involve the
              patient as part of our mam nyalvement by our stalf in the
              community enhances our ability
            </p>
            <button
              class="border rounded-[5px] border-solid border-black text-black px-4 py-2 mt-2 rounded w-full"
            >
              READ MORE
            </button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
